<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/excursion/index">Tu Agencia</a>
            </div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li><a href="/excursion/index">Listado de excursiones</a></li>

                    @if ((String)Session["rol"] == "Operador")
                    {
                        <li><a href="/compra/index">Lista de Compras</a></li>
                        <li><a href="/excursion/estadisticas">Estadísticas</a></li>
                        <li><a href="/usuario/clientes">Clientes</a></li>
                    } 
                    
                    @if ((String)Session["rol"] == "Cliente")
                    {
                        <li><a href="/usuario/compras">Mis Compras</a></li>
                    }

                    @if (Session["rol"] == null)
                    {
                        <li><a href="/usuario/login">Login</a></li>
                        <li><a href="/usuario/register">Registrarse</a></li>
                    }
                    else
                    {
                        <li><a href="/usuario/logout">Salir</a></li>
                    }

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 177653 y 253573</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>